<header>
    <img src="/images/webdriverio.png" alt="WebdriverIO">
    <h1>Webdriver<span>I/O</span></h1>
    <h2>Selenium 2.0 bindings for NodeJS</h2>
    <div class="badges">
        <a href="http://badge.fury.io/js/webdriverjs" data-bindattr-34="34"><img src="https://badge.fury.io/js/webdriverjs.png" data-bindattr-35="35" class="retina-badge"></a>
        <a href="https://travis-ci.org/camme/webdriverjs"><img src="https://travis-ci.org/camme/webdriverjs.svg" alt="Build Status"></a>
        <a href="https://coveralls.io/r/camme/webdriverjs?branch=master"><img src="https://camo.githubusercontent.com/9216ad89ebf7693bc4c8e3b7e85d841b314a8e59/68747470733a2f2f636f766572616c6c732e696f2f7265706f732f63616d6d652f7765626472697665726a732f62616467652e706e673f6272616e63683d6d617374657226" alt="Coverage Status" data-canonical-src="https://coveralls.io/repos/camme/webdriverjs/badge.png?branch=master&amp;" style="max-width:100%;"></a>
    </div>
    <div>
        <div class="fb-like" data-send="false" data-width="50" data-show-faces="false" data-font="arial" data-layout="button_count" data-action="like"></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="bromann" data-hashtags="webdriverjs">Tweet</a>
        <g:plusone size="medium"></g:plusone>
        <iframe src="http://ghbtns.com/github-btn.html?user=camme&amp;repo=webdriverjs&amp;type=watch&amp;count=true" height="20" width="118" frameborder="0" scrolling="0" style="width:118px; height: 20px;" allowTransparency="true"></iframe>
        <a href="https://twitter.com/webdriverjs" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @webdriverjs</a>
    </div>
</header>

<aside class="teaser">
<%
var posts = get_posts({query:{tags: 'teaser'}});
posts.forEach(function(post){ %>

    <div class="teaserbox">
        <%- post.content %>
    </div>

<% }) %>
</aside>

<%
var posts = get_posts({order: 1, query:{tags: 'index'}});
posts.forEach(function(post){ %>

    <article class="<%- post.class %>">
        <%- post.content %>
    </article>

<% }) %>