<header>
    <img src="/images/webdriverio.png" alt="WebdriverIO">
    <h1 class="header">Webdriver<span>I/O</span></h1>
    <h2>WebDriver bindings for Node.js</h2>
    <div class="badges">
        <a href="http://badge.fury.io/js/webdriverio" data-bindattr-34="34"><img src="https://badge.fury.io/js/webdriverio.svg" data-bindattr-35="35" class="retina-badge"></a>
        <a href="https://travis-ci.org/webdriverio/webdriverio"><img src="https://travis-ci.org/webdriverio/webdriverio.svg" alt="Build Status"></a>
        <a href="https://coveralls.io/r/webdriverio/webdriverio?branch=master"><img src="https://coveralls.io/repos/github/webdriverio/webdriverio/badge.svg?branch=master" alt="Coverage Status"></a>
    </div>
    <div>
        <div class="fb-like" data-send="false" data-width="50" data-show-faces="false" data-font="arial" data-layout="button_count" data-action="like"></div>
        <g:plusone size="medium"></g:plusone>
        <iframe src="http://ghbtns.com/github-btn.html?user=webdriverio&amp;repo=webdriverio&amp;type=watch&amp;count=true" height="20" width="118" frameborder="0" scrolling="0" style="width:118px; height: 20px;" allowTransparency="true"></iframe>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="bromann" data-hashtags="webdriverio">Tweet</a>
        <a href="https://twitter.com/webdriverio" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @webdriverio</a>
    </div>
</header>

<%- page.content %>
