<% fragment_cache('footer', function() { %>
<footer>
    <div class="container">
        <article class="col2">
            <p>This project is maintained by:</p>
            <a class="twitterLink" href="http://twitter.com/webdriverio" title="WebdriverIO"><img src="/images/twitter-profile.png" alt="@WebdriverJS"></a>
            <a class="twitterLink" href="http://twitter.com/bromann" title="Christian Bromann"><img src="https://pbs.twimg.com/profile_images/1806512295/profil.png" alt="@bromann"></a>
            <a class="twitterLink" href="http://twitter.com/zeroload" title="Vincent Voyer"><img src="https://pbs.twimg.com/profile_images/477099293250052097/fMFjb8gu_400x400.jpeg" alt="@zeroload"></a>
            <a class="twitterLink" href="http://twitter.com/camilotapia" title="Camilo Tapia"><img src="https://pbs.twimg.com/profile_images/2675987215/e8f89a3b4ea11fa934e9339a3bdb575f.jpeg" alt="@camilotapia"></a>
            <a class="twitterLink" href="http://twitter.com/dan_jenkins" title="Dan Jenkins"><img src="https://pbs.twimg.com/profile_images/501749596226584576/w3U8Y5Cd_400x400.jpeg" alt="@dan_jenkins"></a>
        </article>
        <article class="col2 last">
            <h6>Need help?</h6>
            <p>
                If you have questions or any problems using WebdriverIO join the
                <a href="https://groups.google.com/forum/#!forum/webdriverio">Mailing List</a>, hit us
                contributor on Twitter or just file an <a href="https://github.com/webdriverio/webdriverio/issues">issue</a>
                on Github. We will try to get back to you as soon as possible.<br>
                Also if you miss any feature, let us know so we can make WebdriverIO
                even better. For news or announcements check <a href="https://twitter.com/WebdriverIO">@WebdriverIO</a> on Twitter.
            </p>
        </article>
        <cite>We <em>♥</em> testing!</a></cite>
    </div>
</footer>
<% }); %>
