<% fragment_cache('footer', function() { %>
<footer>
    <div class="container">
        <article class="col2">
            <p>This project is maintained by:</p>
            <a class="twitterLink" href="http://twitter.com/webdriverio" title="WebdriverIO"><img src="/images/twitter-profile.png" alt="@WebdriverIO"></a>
            <a class="twitterLink" href="http://twitter.com/bromann" title="Christian Bromann"><img src="https://pbs.twimg.com/profile_images/928781023713943552/CinOw8q3_200x200.jpg" alt="@bromann"></a>
            <a class="twitterLink" href="http://twitter.com/georgeocrawford" title="George Crawford"><img src="https://pbs.twimg.com/profile_images/344513261572334323/20ed8b74ee67b5fc58ef93585aec7877_200x200.jpeg" alt="@georgeocrawford"></a>
            <a class="twitterLink" href="https://twitter.com/vvoyer" title="Vincent Voyer"><img src="https://pbs.twimg.com/profile_images/811997465675177984/0XZAXTH7_200x200.jpg" alt="@vvoyer"></a>
            <a class="twitterLink" href="http://twitter.com/camilotapia" title="Camilo Tapia"><img src="https://pbs.twimg.com/profile_images/2675987215/e8f89a3b4ea11fa934e9339a3bdb575f.jpeg" alt="@camilotapia"></a>
        </article>
        <article class="col2 last">
            <h6>Need help?</h6>
            <p>
                If you have questions or any problems using WebdriverIO join the
                <a href="https://gitter.im/webdriverio/webdriverio">Gitter Chat</a>, hit us
                contributor on Twitter or just file an <a href="https://github.com/webdriverio/webdriverio/issues">issue</a>
                on Github. We will try to get back to you as soon as possible.<br>
                Also if you miss any feature, let us know so we can make WebdriverIO
                even better. For news or announcements check <a href="https://twitter.com/WebdriverIO">@WebdriverIO</a> on Twitter.
            </p>
        </article>
        <cite>We <em>♥</em> testing!</a></cite>
    </div>
</footer>
<% }); %>
