<nav class="mainnav">
    <ul>
        <li><a href="/"><h1 class="logo">I/O</h1></a></li>
        <li><a href="/guide.html">Developer Guide</a></li>
        <li><a href="/api.html">API</a></li>
        <li><a href="/examples.html">Examples</a></li>
        <li><a href="/download.html">Download</a></li>
    </ul>
</nav>