<nav class="mainnav">
    <ul>
        <li><a href="/"><h1 class="logo">I/O</h1></a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/guide.html">Developer Guide</a></li>
        <li><a href="/api.html">API</a></li>
        <li><a href="/contribute.html">Contribute</a></li>
    </ul>
</nav>
