.inner {
    background: $white;
    border-radius: 5px;
    padding: 15px;
    margin-top: 30px;
    overflow: hidden;

    &.api {
        margin-top: 10px;

        img {
          height: 32px;
          position: relative;
          bottom: 5px;
          margin-right: 10px;
        }
    }

    .doc {
        float: left;
        width: 74%;
        padding: 15px 0 15px 20px;
        border-left: 1px solid $highlight-border;
        position: relative;
        right: 1px;

        .btn {
            color: white;
            background: #ea5906;
            padding: 5px 10px;
            border-radius: 5px;
            text-decoration: none;
            float: right;
            margin-bottom: 35px;

            &.source {
                margin-left: 20px;
            }
            &:before {
                margin-right: 5px;
            }
        }

        img {
            width: auto;
            max-width: 100%;
        }

        >table {
            width: 100%;
            border: 1px solid $highlight-border;

            thead {
                background: #f1f1f1;

                th {
                    padding: 10px;
                    font-weight: bold;
                }
            }

            tbody {
                border-top: #eee;

                td {
                    padding: 10px;
                    font-weight: 300;
                }
            }

            td + td,
            th + th {
                border-left: 1px solid #eee;
            }
        }

        ul li a {
            font-size: 0.9em;
        }
    }

    &.searchbar {
        padding: 5px 15px;
        position: relative;

        input {
            width: 100%;
            height: 40px;
            border: 0;
            color: $orange;
            font-size: 24px;
            font-family: $fontRegular;
            font-weight: 300;
            outline: none;
        }

        .icon-remove {
            display: none;
            position: absolute;
            right: 15px;
            top: 13px;
            font-size: 0;
            color: transparent;
            text-decoration: none;
            line-height: 10px;

            &:before {
                margin-top: 10px;
                font-family: 'FontAwesome', sans-serif;
                text-decoration: inherit;
                display: block;
                speak: none;
                content: "\f00d";
                font-size: 35px;
                color: $orange;
                cursor: pointer;
            }
        }
    }
}
