.protocolList,
.commandList {
    @include border-radius(5px);
    overflow: hidden;
    background: $white;
    padding: 0 15px;
    margin: 20px 0;

    .col2 {
        padding-top: 0;

        &.links {
            width: 21%;

            a {
                display: block;
                color: inherit;
                text-decoration: none;
                padding-left: 15px;
                font-size: 0.8em;
            }
        }

        &.description {
            width: 75%;

            .command {
                @include border-radius(5px);
                background: $commandLayer;
                padding: 20px;
                border: $borderColor solid 1px;

                .icon-link {
                    text-decoration: none;

                    &:before {
                        float: left;
                        padding: 4px 5px 0px 0;
                        font-size: 0.8em;
                        text-shadow: 1px 0px 0px $white;
                        margin-top: -2px;
                    }
                }

                .arguments {
                    margin-top: 15px;
                    background: $white;
                    padding-bottom: 10px;

                    .type, .desc {
                        padding: 0 15px;
                    }

                    .desc {
                        margin-top: 10px;
                    }
                }

                strong {
                    display: none;
                }
            }

            .icon-angle-up {
                text-align: right;
                text-decoration: none;
                display: block;
                margin: 10px 0;

                &:after {
                    margin-left: 5px;
                }
            }
        }
    }
}