header {
    text-align: center;
    margin: 70px 0;

    h1 span {
        letter-spacing: -2px;
        background: $orange;
        border-radius: 10px;
        color: white;
        font-size: 0.60em;
        position: relative;
        bottom: 11px;
        padding: 0 5px 0 3px;
        left: 10px;
    }

    h2 {
        margin-bottom: 40px;
    }

    .badges {
        margin-bottom: 15px;
    }
}