.mainnav {
    height: 50px;
    width: 100%;
    background: $headerBackground;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0px 2px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
    border-top: $headerTopBorder solid $orange;

    .logo {
        background: $orange;
        float: left;
        letter-spacing: -2px;
        border-radius: 5px;
        color: white;
        font-size: 26px;
        padding: 5px 4px 0 2px;
        font-weight: 100;
        display: block;
        height: 27px;
        margin-top: 8px;
        margin-right: 15px;
        line-height: 0.9em;
    }

    ul {
        width: $pageWidth;
        margin: 0 auto;

        li {
            float: left;

            a {
                margin: 0 10px;
                text-decoration: none;
                line-height: 50px;
                font-size: 17px;
                font-weight: 300;

                &:hover {
                    color: $white;
                }
            }

            &:first-child a {
                margin: 0;
            }
        }

    }
}

.apinav {
    width: 23%;
    float: left;
    border-right: 1px solid $highlight-border;

    .commands {
        display: none;

        &.active {
            display: block;
        }

        a {
            display: block;
            color: inherit;
            text-decoration: none;
            padding-left: 10px;
            font-size: 0.8em;
            border-left: 5px solid lighten($orange, 40%);

            &.active, &:hover {
                color: $orange;
                border-color: $orange;
            }
        }
    }

    &.guide a {
        text-transform: capitalize;
    }

    h3 {
        color: $orange;
        text-transform: capitalize;
        margin: 15px 0 10px;

        a {
            text-decoration: none;

            &:before {
                padding-right: 5px;
            }

            &.active:before {
                content: "\f07c";
            }
        }
    }
}