.social {
    clear: both;
    background: $socialMediaBackground;
    height: $socialHeight;
    text-align: center;
    line-height:4em;

    .fb-like {
        line-height: normal;
        position: relative;
        bottom: 3px;
    }
}

header .fb-like {
    width: 140px;
    position: relative;
    bottom: 4px;
}