.social {
    clear: both;
    background: $socialMediaBackground;
    height: $socialHeight;
    text-align: center;
    line-height:4em;

    .fb-like {
        line-height: normal;
        position: relative;
        bottom: 3px;
    }
}

header .fb-like {
    width: 140px;
    position: relative;
    bottom: 4px;
}

.testimonials {
    height: 175px;

    .testimonial {
        overflow: hidden;
        margin: 30px 100px;

        > .avatar {
            overflow: hidden;
            position: relative;
            display: block;
            width: 75px;
            float: left;

            > img {
                border-radius: 100%;
                width: 100%;
            }
        }

        .text {
            width: 75%;
            margin-left: 100px;
            background: lightgray;
            padding: 20px;
            border-radius: 20px;
            font-weight: 300;
        }
    }
}
