.social {
    clear: both;
    background: $socialMediaBackground;
    height: $socialHeight;
    text-align: center;
    line-height:4em;

    .fb-like {
        line-height: normal;
        position: relative;
        bottom: 3px;
    }
}

header .fb-like {
    width: 140px;
    position: relative;
    bottom: 4px;
}

.testimonials {
    height: 220px;

    .testimonial {
        margin: 85px 100px;

        > .avatar {
            overflow: hidden;
            display: block;
            width: 100px;
            float: left;
            position: relative;
            left: 45px;
            bottom: 55px;

            > img {
                border-radius: 100%;
                width: 90%;
                border: 2px solid $orange;
                background-color: $white;
            }
        }

        .text {
            width: 75%;
            margin-left: 100px;
            background: $orange;
            padding: 20px 40px;
            border-radius: 20px;
            font-weight: 300;
            font-size: 20px;
            line-height: 32px;
            color: $white;

            a {
              color: $white;
            }
        }
    }
}
