article {
    font-weight: 300;

    ol {
        margin: 10px 0;

        li {
            margin: 0 0 10px 20px;
            line-height: 1.3em;
        }
    }

    &.single {
        margin-top: 50px;

        h1 {
            padding-bottom: 20px;
        }
    }

    figure.highlight {
        margin: 0;
    }
}
