.content {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow: hidden;
    margin: 30px 0 -300px;

    .container {
        margin-bottom: 360px;
    }
}

.container {
    max-width: $pageWidth;
    margin: 0 auto;
    overflow: hidden;
}