/**
 * grabbed from Twitter Boostrap
 * http://getbootstrap.com/components/#labels
 */

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;

    &.label-default {
        background-color: #999999;
    }
    &.label-primary {
        background-color: #428bca;
    }
    &.label-success {
        background-color: #5cb85c;
    }
    &.label-info {
        background-color: #5bc0de;
    }
    &.label-warning {
        background-color: #f0ad4e;
    }
    &.label-danger {
        background-color: #d9534f;
    }

}